@mixin Rubik($weight){
  font-family: "Rubik", sans-serif;
  font-weight: $weight;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: #ebeaea;
}
::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: black;
}
main{
  max-width: 1440px;
  position: relative;
  margin: 80px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;

  h1 {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 6px;
    margin: 60px 0 40px;
  }

  .filter_title{
    align-self: flex-start;
    margin: 0 0 12px 74px;
    @include Rubik(300);
    color: #1B2438;
  }

  section{
    display: block;
    width: 1000px;
    margin: 0 74px 80px;

    .filter_menu{
      display: flex;
      margin-bottom: 40px;
      height: 48px;

      .filter_items{
        display: flex;
        width: 684px;
        gap: 12px;
        margin-right: 20px;
        .css-13cymwt-control, 
          .css-16xfy0z-control{
            @include Rubik(400);
            padding-left: 24px;
            height: 48px;
            cursor: pointer;
            color: #C2C2C2;
          }
          .css-13cymwt-control{
            width: 220px;
            color: #C2C2C2;
              
          }
          .css-16xfy0z-control, .css-t3ipsp-control{
            width: 220px;
            background-color: white;
            border-radius: 0;
            &:active{
              cursor: pointer;
            }
          }
          .css-894a34-indicatorSeparator{width: 0;}
          .css-t3ipsp-control{
            padding-left: 24px;
            height: 48px;
            width: 220px;
            border: 1px solid black;
            border-color: black;
            box-shadow: 0 0 0 0 black;
          }
        .css-b62m3t-container{
          
          .css-1nmdiq5-menu{
            margin-top: -10px;
            border: 1px solid black;
            border-radius: 0px;
            border-top: 0px;

            .css-qr46ko{
              
              .css-d7l1ni-option{
                background-color: white;
              }
              .css-tr4s17-option{
                background-color: white;
                color: black;
              
                  .checkbox{
                    width: 0;
                    height: 0;
                    opacity: 0;
                    position: absolute;
                    z-index: -1;
                    
                  }
                  .custom-checkbox{
                    position: relative;
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    background-color: rgb(0, 0, 0);
                    color: black;
                    vertical-align:middle;
                    border: 1px solid black;
                    display: inline-block;
                  }
                  .custom-checkbox::before{
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-image: url("../../components/System.svg");
                    background-size: contain;
                    background-repeat: no-repeat;

                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    
                  }
                  .checkbox:checked + .custom-checkbox::before{
                    transform: translate(-50%, -50%) scale(1);
                  }
                }
            }
          }
        }
      }

      .filter_buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 48px;

        .trashButton, 
        .popupButton{
          border: 1px solid #C4C4C4;
          background-color: white;
          cursor: pointer;
        }

        .trashButton{
          width: 48px;
          height: 48px;
          margin: 0;
          padding: 0;
        }

        .popupButton{
          width: 150px;
          height: 48px;
          @include Rubik(300);
        }
      }
    }

    .list-titles{
      height: 76px;
      border: 1px solid #E3E8EE;
      font-family: "Karla", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;

      .titles{
        padding: 14px 194px 14px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .users-block{
      border: 1px solid #E3E8EE;

      table{
        width: 1000px;
        min-width: 1000px;
        border-collapse:unset;

        tr{
          height: 80px;
          max-width: 1000px;

          .tdName{
            width: 235px;
            padding-left: 36px;
            @include Rubik(400);
            color: #1B2438;
          }

          .tdDepartment{
            width: 250px;
            @include Rubik(300);
            color:#5E626B;
          }
          .tdCountry, .tdStatus{
            @include Rubik(300);
            color:#5E626B;
          }
          .tdCountry{
            width: 225px;
          }
          .tdStatus{
            width: 150px;
          }
        }
      }

      .trashButton{
        border: none;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}