@mixin Rubik($weight){
  font-family: "Rubik", sans-serif;
  font-weight: $weight;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

main{
  margin: 80px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;

  h1 {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 6px;
    margin: 60px 0 40px;
  }

  .filter_title{
    align-self: flex-start;
    margin: 0 0 12px 74px;
    @include Rubik(300);
    color: #1B2438;
  }

  section{
    display: block;
    width: 1000px;
    margin: 0 74px;

    .filter_menu{
      display: flex;
      margin-bottom: 40px;
      height: 48px;

      .filter_items{
        display: flex;
        width: 684px;
        gap: 12px;
        margin-right: 20px;

        .css-13cymwt-control, 
        .css-16xfy0z-control{
          @include Rubik(400);
          padding-left: 24px;
          height: 48px;
          cursor: pointer;
          color: #C2C2C2;
        }

        .css-13cymwt-control{
          width: 220px;
        }

        .css-16xfy0z-control{
          width: 220px;
          background-color: white;
          border-radius: 0;
          &:active{
            cursor: pointer;
          }
        }

        .css-894a34-indicatorSeparator{
          width: 0;
        }
      }

      .filter_buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 48px;

        .trashButton, 
        .popupButton{
          border: 1px solid #C4C4C4;
          background-color: white;
          cursor: pointer;
        }

        .trashButton{
          width: 48px;
          height: 48px;
          margin: 0;
          padding: 0;
        }

        .popupButton{
          width: 150px;
          height: 48px;
          @include Rubik(300);
        }
      }
    }

    .list-titles{
      height: 76px;
      border: 1px solid #E3E8EE;
      font-family: "Karla", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;

      .titles{
        padding: 14px 194px 14px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .users-block{
      border: 1px solid #E3E8EE;

      table{
        width: 100%;

        tr{
          height: 80px;

          .tdName{
            width: 235px;
            padding-left: 36px;
          }

          .tdDepartment{width: 250px;}
        }
      }

      .trashButton{
        border: none;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}